.project_messages {
  width: 60%;
  padding: 1em;
  height: 450px;
  flex-flow: column;
  justify-content: space-between;
}
.all_project_messages {
  height: 400px;
  overflow-y: scroll;
}

.each_project_message {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
} 

.project_message_user > p {
  font-weight: bold;
}

.project_message_user p {
  margin: 0
}
img {
  margin-right: 1em;
}


.chat_message_input {
  width: 90%;
  height: 90px;
  padding: 10px;
}

.project_message_time {
  margin: 0;
  padding-bottom: 2em;
  color: grey
}





