.project_members {
  flex-flow: column;
  padding: 1em;
  border: rgba(240, 186, 241, 0.479) 2px solid;
  background: linear-gradient(to right, #dad299, #b0dab9);
  color: black;
}

.search_feature {
  padding: 1em;
}

.all_project_members {
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin: 0.5em;
  overflow-y: scroll;
}

.project_member_avatar {
  height: 30px;
  border-radius: 50%;
  margin-right: 1em;
}
