/* .navbar {
  backgroundImage: `linear-gradient(to bottom right, ${color(c)
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
} */

/* .divide {
  display: flex;
  justify-content: space-between;
}
.left {
  color: #0b3442;
  margin-left: 2.5em;
}
.right {
  color: #0b3442;
  margin-right: 2.5em;
} */
/* .navbar-logo {
  padding-left: 30px;
  margin-left: 20px;
  color: #0b3442;
} */

/* .navbar-list {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  list-style: none;
} */

.navbar li {
  /* padding-right: 10px; */
  /* padding-left: 10px; */
}

.navbar li:hover {
  /* color: yellow; */
}
